@charset "UTF-8";

@media screen and (min-width: 768px) {
    i#burguer {
        display: none;
    }

    menu {
        display: flex;
    }

    menu ul {
        display: flex;
        gap: 2px;
    }

    menu li {
        width: 150px;
    }

    main {
        width: 768px;
    }
}